!/database/migrations/factories
!/database/migrations/seeders
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


# git rm -r --cached database && git add -f database/factories && git add -f database/seeders && git add -f database/note.txt

